.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*
#678555
#776456
*/
.container header {
  background: #678555;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 120px;
  border-bottom: 2px solid #678555;
  width: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 2px 2px 16px #0005;
}

.container header h1 {
  font-family: 'Great Vibes';
  font-size: 64px;
  font-weight: normal;
}

.logo {
  max-width: 350px;
  width: 70%;
  height: auto;
  padding: 0 30px;
}

@media screen and (max-width: 728px) {
  .container header {
    justify-content: space-evenly;
    align-items: center;
  }

  .container header h1 {
    font-size: 48px;
  }

  .container header span {
    font-size: 18px;
  }
}