.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.list {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  margin-bottom: 35px;
}
.signedList {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
}
