.item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px #0002;
  padding: 15px;
  border-radius: 20px;
  width: fit-content;
  flex-wrap: wrap;
  margin: 10px 0;
  background: #f7f7f7;
}

.itemSigned{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px #0002;
  padding: 15px;
  border-radius: 20px;
  width: fit-content;
  flex-wrap: wrap;
  margin: 10px 0;
  background: #dba9a0;
  color: #fff;
}



.inputSign,
.inputContact {
  border: 1px solid #cecece;
  display: flex;
  width: 100%;
  padding: 5px 10px;
}

.itemName {
  width: 250px;
  padding: 10px;
}

.itemSigned .itemName{
  color: #921a3d;
}
.action {
  display: flex;
  padding: 10px;
  width: 250px;
}

.action button {
  height: 100%;
  padding: 10px;
  background: #921a3d;
  border: none;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.actionSigned .textSigned h3 {
  color: #921a3d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #fff;
}

.itemSigned .actionSigned .textSigned h3 {
  color: #921a3d;
  padding: 10px;
  border-radius: 5px;
}
.sugestion,
.noSugestion {
  width: 100%;
}
.sugestion button {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: #921a3d;
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0005;
}
.sugestion button:hover {
  box-shadow: none;
}
.noSugestion button {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #ccc;
  border-radius: 10px;
}

.itemSigned .sugestion button{
  background: #921a3d;
}